.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(241, 240, 239);
  gap: 50px;
  padding: 40px 0;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo img {
  width: 80px; /* Adjust logo size */
}

.footer p {
  color: #383838;
  font-size: 46px;
  font-weight: 700;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #252525;
  font-size: 20px;
  padding: 0;
}

.footer-links li {
  cursor: pointer;
}

.footer-links li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #009688; /* Hover color */
}

.footer-social-icon {
  display: flex;
  gap: 20px;
}

.footer-icons-container {
  padding: 10px;
  background: #fbfbfb;
  border-radius: 50%;
}

.footer-icons-container img {
  width: 30px; /* Adjust icon size */
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: 20px;
}

.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #c7c7c7;
}

.footer-copyright span {
  font-size: 14px;
  color: #555;
}

@media (max-width: 1280px) {
  .footer {
    gap: 40px;
  }

  .footer-logo p {
    font-size: 40px;
  }

  .footer-links {
    gap: 30px;
    font-size: 18px;
  }

  .footer-social-icon {
    gap: 25px;
  }
}

@media (max-width: 1024px) {
  .footer {
    gap: 35px;
  }

  .footer-logo {
    gap: 10px;
  }

  .footer-logo img {
    width: 60px;
  }

  .footer-logo p {
    font-size: 32px;
  }

  .footer-links {
    gap: 20px;
    font-size: 16px;
  }

  .footer-social-icon img {
    width: 25px;
  }

  .footer-copyright span {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .footer {
    gap: 20px;
  }

  .footer-logo {
    gap: 10px;
    align-items: flex-start;
  }

  .footer-logo img {
    width: 50px;
  }

  .footer-logo p {
    font-size: 28px;
  }

  .footer-links {
    font-size: 14px;
    gap: 10px;
  }

  .footer-social-icon {
    gap: 15px;
  }

  .footer-social-icon img {
    width: 22px;
  }

  .footer-copyright {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .footer {
    gap: 10px;
    padding: 20px;
  }

  .footer-logo {
    gap: 5px;
  }

  .footer-logo img {
    width: 40px;
  }

  .footer-logo p {
    font-size: 24px;
  }

  .footer-links {
    font-size: 12px;
    gap: 8px;
  }

  .footer-social-icon {
    gap: 10px;
  }

  .footer-social-icon img {
    width: 20px;
  }

  .footer-copyright {
    font-size: 12px;
  }
}
