.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}

.slider-image {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(174, 93, 79);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}
